{% extends 'base.html' %} 
{% block title %}Twimbol{% endblock %} 
{% block content %}

    <menu type="toolbar">
    <li>
        <a href="{% url 'dashboard' %}"
        ><button id="dashboard">Dashboard</button></a
        >
    </li>
    <li>
        <a href="{% url 'post' %}"
        ><button id="post">Add Post</button></a
        >
    </li>
    <li>
        <a href="{% url 'video' %}"
        ><button id="video">Add Video</button></a
        >
    </li>
    <li>
        <a href="{% url 'reel' %}"
        ><button id="reel">Add Reel</button></a
        >
    </li>
    <li>
        <a href="{% url 'manage-contents' %}"
        ><button id="manage-conents">Manage Contents</button></a
        >
    </li>
    <li>
        <a href="{% url 'settings' %}"
        ><button id="settings">Settings</button></a
        >
    </li>
    </menu> 


    <h1>{{create_action}}</h1>

    {% if form %}
    <form action="" method="post" id="form-controls"  enctype="multipart/form-data">
        {% csrf_token %} 
        
        {{form.as_p}}
        
        <script>function getYouTubeVideoID(url) {        const regex = /(?:youtube\.com\/(?:watch\?v=|embed\/|v\/|shorts\/)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;        const match = url.match(regex);        return match ? match[1] : null; } document.getElementById("form-controls").addEventListener("submit", function (e) {        const input = document.getElementById("yt-form-control-video-id");        const videoId = getYouTubeVideoID(input.value);   if (videoId) {            input.value = videoId;        } else {            e.preventDefault();            alert("Please enter a valid YouTube URL.");        }    });</script>

        

        <button type="submit">Save</button>
    </form>

    {% endif %} 


{% endblock %} 



{% block script %}
<!-- <script src="create.js"></script> -->

<script>
  document.getElementById("{{create_action}}").setAttribute("disabled", "true");
</script>
{% endblock %}
