{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.post_title}}{% endblock %}


{% block content %}


<div class="post_content">
    {% if post.post_banner %}
    <img src="{{post.post_banner.url}}" alt="" class="banner_img" style="max-width: 20vw;display: inline-block;">
    {% else%}
    <img src="{% static 'img/posts/post2.jpeg' %}" alt="" class="banner_img" style="max-width: 20vw;display: inline-block;">
    {% endif %}

    <h1>{{post.post_title}}</h1>
    <p>Post by: <a href="{%url 'profile' post.created_by%}">{{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}</a></p>
    <p>{{post.created_at}}</p>

    <p>{{post.post_description}}</p>
</div>




{% endblock %}