{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.post_title}}{% endblock %}


{% block content %}


<div class="post_content">
    {% if post.post_banner %}
    <img src="{{post.post_banner.url}}" alt="" class="banner_img" style="max-width: 20vw;display: inline-block;">
    {% else%}
    <img src="{% static 'img/posts/post2.jpeg' %}" alt="" class="banner_img" style="max-width: 20vw;display: inline-block;">
    {% endif %}

    <h1>{{post.post_title}}</h1>
    <p>Post by: <a href="{%url 'profile' post.created_by%}">{{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}</a></p>
    {% if post.created_by == user %} <a href="{% url 'post_create_edit' post.id %}">Edit Post</a>{% endif %}
    <p>{{post.created_at}}</p>

    <p>{{post.post_description}}</p>
</div>






{% if user.profile.user_banned %}
        <p style="color: red;">You are banned for violating community guidelines.</p>
    {% else %}



<div class="post_like_section">
    <h3>Likes: </h3>{{post_stat_like.post_stat_likes}}
    {% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ post_stat_like.post_stat_like_form.as_p }}
            <input type="submit" value="❣️">
    </form>
    {% else %}
    <h4>Login to like <a href="{% url 'login' %}">Login</a></h4>
    {% endif %}
</div>










<div class="post_comments_section">
    <h2>Comments</h2>

        {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Send" name="comment_form">
        </form>
        {% else %}
        <h4>Login to post comments <a href="{% url 'login' %}">Login</a></h4>
        {% endif %}
        {% for comment in post_comments %}
        <div class="comment" style="display: block;">

            <pre><strong><a href="{% url 'profile' comment.created_by %}">{{ comment.created_by.profile.first_name }} {{ comment.created_by.profile.last_name }}</a></strong>: 
        {{ comment.comment }}</pre>
            <p>{{ comment.created_at }}</p>


            {% if comment.created_by == user %}
            <form action="" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="submit" value="Delete" name="delete_comment_form">
            </form>
                    {% endif %}


        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

</div>


{% endif %}


{% endblock %}