.post_container_creator_dashboard{
    width: 9vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 1000px;
}
.post_creator_dashboard{
    display: inline-flex;
    width: 15vw;
    height: 20vh;
    background: wheat;
    transition: .2s all;

}
.post_creator_dashboard:hover{
    border: 1px solid rgb(210, 210, 210);
    transform: translate(-1px, -5px);
    box-shadow: 1px 5px 5px rgb(185, 185, 185);
}

.post_creator_dashboard img{
    transform: scale(.91);
}